<div class="box-body">
  <table class="table">
    <tbody>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
<tr>
  <th><%%= t('<%= "activerecord.attributes.#{singular_table_name}.#{attribute.name}" %>') %></th>
  <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
</tr>

<% end -%>
    </tbody>
  </table>
</div>
